.TodoList {
    border: 2px solid #ff0088;
    padding: 15px;
    border-radius: 10px;
    background-color: #7cdede;
    text-align: center;
}
ul{
    padding-inline-start: 0;

}
li{
    text-align: left;
}
